/* homepage and body */
body {
  font-family: nocturne-serif, serif;
  font-weight: 400;
  background-color: #FFFCF1;
  height: 100%;
  padding-top: 150px;
}

body.home {
  background-image: url("images/background.png");
}

.container1-homepage {
  display: flex;
  justify-content: center; 
  margin-left: 100px;
  margin-top: 200px;
  width: 40%;
  text-align: center;
  font-family: nocturne-serif, serif;
  font-weight: bold;
  font-size: 46px;
}

.buttons-home {
  background-color: #EF5D52;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 15px 52px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Gothic A1', sans-serif; 
  cursor: pointer;
}

.ImageContainer {
  display: flex;
  float: right;
  width: 40%;
  margin-top: -300px;
  margin-right: -100px;
}

.ImageContainer img {  
  max-width: 65%;  
  height: auto;  
}  

/* navigation bar */
.logo img{
  max-height: 54px;  
}

#homepagenav {
  background-color: transparent;
}

.navbar {
  background-color: #FFFCF1; 
  position: fixed;
  top: 40px; 
  width: 100%;
  margin-top: 0px;
}

.navbar-pages {
  position: relative; 
  left:800px;
  top: 30px;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  font-family: nocturne-serif, serif;
  font-weight: bolder;
  font-size: 18px;
  line-height: 2.5;
  text-decoration: none;
}

.navbar ul {
  padding-left: 1100px;
}

/* Change underline on mouse-over */
.navbar a:hover {
  text-decoration: underline;
}

.banner {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  background: #849779;
  text-align: center;
  line-height: 2.5;
  overflow: hidden; 
  color: white;
  font-family: 'Gothic A1', sans-serif; 
  font-weight: bolder;
  font-size: 18px; 
}

.banner a {
  text-decoration: none;
  color: white;
}

/* cart icon in nav */

.cart-count {
  position: fixed;
  right: 35px;
  top: 85px;
  background: #EF5D52;
  padding: 0 5px;
  border-radius: 30%;
  color: white;
  font-size: 14px;
  font-family: 'Gothic A1', sans-serif; 
}

.cart-icon a {
  font-size: 20px;
  position: fixed;
  top: 64px;
  right: 25px;
}


/* Products Page */
.tabs-heading {
  display: grid;
  width: 100%;
}

.filter-and-products {
  display: grid;
  grid-template-columns: 300px 600px;
  grid-template-rows: auto auto;
  margin-top: 20px;
  grid-gap: 250px;
}

.fa-square {
  margin-right: 15px;
}

.filter-section {
  display: grid;
  grid-template-columns: minmax(290px, 1fr) minmax(290px, 1fr) minmax(290px, 1fr);
  justify-content: center;
  margin-top: 50px;  
}

.products-heading {
  padding-left: 20px;
}

.product-filter {
  padding-left: 20px;
}

.category-filter {
  margin-bottom: 0px;
}

.product-listings {
  display: grid;
  grid-template-columns: minmax(290px, 1fr) minmax(290px, 1fr) minmax(290px, 1fr);
  justify-content: center;
  margin-top: 60px;
  grid-gap: 70px;
  grid-row-gap: 10px;
}

.product-listings img {
  width: 256px;
}

.name-and-price {
  display: grid;
  grid-template-columns: 75% 13% 10%;
  width: 256px;
}

.itemprice-old {
  text-decoration: line-through;
}

.itemprice-new {
  color: #EF5D52;
}

.product-tile {
  margin-bottom: 30px;
  font-family: 'Gothic A1', sans-serif; 
  font-weight: bolder;
  font-size: 18px;
}

/* Harness-Detail and Wateraddopn Page */
.shopping-tabs {
  padding-left: 25px;
  font-family: 'Gothic A1', sans-serif; 
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;   
}

.shopping-tabs a {
  text-decoration: none;
  color: black;
}

.images-and-details {
  display: grid;
  grid-template-columns: 500px 750px;
  grid-template-rows: auto auto;
  grid-gap: 70px;
}

.product-details {
  display: grid;
  grid-template-columns: minmax(490px, 1fr);
  grid-row-gap: 10px;
  padding-left: 100px;
  width: auto;
}

.product-name-and-price{
  display: grid;
  grid-template-columns: 300px 200px;
  grid-template-rows: auto auto;
  grid-gap: 200px;
  font-family: 'Gothic A1', sans-serif; 
  font-weight: bold;
  font-size: 38px;
  height: 80px;
}

.product-details-name {
  font-family: 'Gothic A1', sans-serif; 
  font-weight: 900;
  font-size: 38px;
  height: 100px;
}

.product-details-price {
  display: grid;
  grid-template-columns: 50% 50%;  
}

.initial-price {
  text-decoration: line-through;
}

.discount-price {
  color: #EF5D52;
  font-weight: bolder;   
}

.product-details-expand {
  display: grid;
  grid-template-rows: 100px 100px 100px 100px;
  grid-row-gap: 5px;
  font-family: 'Gothic A1', sans-serif; 
  font-size: 18px;
  margin-top: -30px;
}

.color-selection {
  display: grid;
  grid-template-columns: 150px 150px 150px 150px;
}

.size-selection {
  display: grid;
  grid-template-columns: 120px 120px 120px 120px;
}

.strawberry:hover {
  text-decoration: underline;
}

.blackberry:hover {
  text-decoration: underline;
}

.cranberry:hover {
  text-decoration: underline;
}

.fire:hover {
  text-decoration: underline;
}

.tiny:hover {
  text-decoration: underline;
}

.small:hover {
  text-decoration: underline;
}

.medium:hover {
  text-decoration: underline;
}

.large:hover {
  text-decoration: underline;
}
    
.product-description {
  font-family: 'Gothic A1', sans-serif; 
  font-size: 18px;
}

.product-details-review {
  font-family: 'Gothic A1', sans-serif; 
  font-size: 18px;
}

.image-section {
  padding-left: 25px
}

.image-section img {
  max-width: 500px;  
  height: auto; 
}

.product-details-add {
  display: grid;
  grid-template-columns: 100px 200px;
  grid-template-rows: auto auto;
  grid-gap: 40px;
  margin-top: 40px;
  font-weight: 500;
}

.product-details-add img {
  max-height: 50px;  
}

.button-product-inactive {
  background-color: #EF5D52;
  opacity: 50%;
  border: none;
  color: white;
  padding: 10px 20px 0px 20px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  font-family: 'Gothic A1', sans-serif; 
  font-weight: bold;
  cursor: pointer;
}


/* Shopping Cart Page */

.shop_logo {
  position: fixed;
  z-index: 1;
  top: 60px;
  left: 0px;
  right: 0px;
  text-align: center;
  line-height: 2.5;
  overflow: hidden; 
}
.shop_logo img{
  max-width: 350px;
}

.progress {
  display: grid;
  grid-template-columns: 85px 285px 70px 285px 70px;
  grid-column-gap: 0px;
  margin-top: 10px;
  font-family: 'Gothic A1', sans-serif; 
  font-weight: 500;
  font-size: 18px;
  justify-content: center;
  width: 100%;
}

.shipping {
  align-content: center;
  margin: auto;
}

.billing {
  align-content: center;
  margin: auto;
}

.review {
  align-content: center;
  margin: auto;
}

hr {
  border: none;
  height: 1.5px;
  color: #000000;
  background-color: #000000;
}

.address_and_summary{
  display: grid;
  grid-template-columns: 650px 400px;
  grid-column-gap: 100px;
  margin-top: 20px;
  font-family: 'Gothic A1', sans-serif; 
  font-weight: 500;
  font-size: 18px;
  justify-content: center;
  width: 100%;
}

.address {
  background-color: #BCBA9E;
  width: 650px;
  height: 500px;
  display: grid;
  grid-template-rows: 16%;
}

.summary {
  background-color: white;
  width: 400px;;
  height: 500px;
}

.name{
  display: grid;
  grid-template-columns: 40% 40%;
  grid-column-gap: 100px;
}